# Global
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.coverage
htmlcov/
.pytest_cache/

# Entornos
venv/
.venv/
env/

# Variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log