env/
.venv/
__pycache__/
*.pyc
.env

data/raw/*
data/processed/*
data/interim/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep

models/checkpoints/*
models/exported/*
models/metrics/*
!models/checkpoints/.gitkeep
!models/exported/.gitkeep
!models/metrics/.gitkeep

mlruns/
.ipynb_checkpoints/